*{
   margin: 0;
   padding: 0;  
}

.fundo{
   background-image: linear-gradient(25deg, black,grey); 
   height: 100vh;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.calculadora{
   font-family: sans-serif;
   position: absolute;
   background-color: rgb(0, 0, 0, 0.8);
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 10px;
   padding: 15px;
}

.botao{
   width: 50px;
   height: 50px;
   font-size: 25px;
   cursor: pointer;
   margin: 3px;
   background-color: rgb(31, 31, 31);
   border-radius: 5px;
   border: none;
   color: white;
}

.botao:hover{
   background-color: black; 
}

.calculadora #resultado{ 
   margin-bottom: 10px;
   background-color: white;
   width: 100%;
   height: 75px;
   font-size: 65px;
   color: black;
   text-align: right;
   border-radius: 10px;
}